div {border: 0px red solid;}
body {
  background-color: #94afd3;
}
.bg {
background-image: url(../img/fonkom.jpg);
background-size: cover;
background-position-y: 100%;
/* background-position-y: center; */
background-repeat: no-repeat;
}

.zagolovok {
    font-size: 34px;
    margin-bottom: .5rem;
    /* font-weight: 1900; */
    line-height: 0.2;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 6px 1px 6px white;
    /* border-left: 13px #3d435b solid; */
  }

.logo {
  padding-top: 20px;
  padding-left: 60px;
  width: 72px;
}
/* .menu {
  box-sizing: border-box;
} */
.main-menu {
  background: rgb(164,161,163);
  background: radial-gradient(circle, rgba(164,161,163,1) 0%, rgba(209,223,223,1) 100%);
  border-radius: 30px;
    height: 60px;
    box-shadow: 0px 10px 10px #00000069;
    border: 3px #3d435b solid;
    margin: 10px;
    font-family: monospace;
    font-size: 19px;
    font-weight: bold;
    /* display: flex;
    justify-content: space-between; */
}
.row {
  margin: 5px;
}
.main-menu ul {
  list-style: none;
  text-align: center;
  box-sizing: border-box;
}
.main-menu ul li {
  display: inline-flex;
  margin-left: -5px;
  border: 1px transparent solid;
  text-shadow: 3px 1px 3px black;
}
.main-menu ul li a{
  display: inline-block;
  padding: 14px 50px;

}
.main-menu ul li a:link,
.main-menu ul li a:hover,
.main-menu ul li a:visited,
.main-menu ul li a:active {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
/* .main-menu-sw {
  background: rgb(207,73,32);
  background: linear-gradient(
0deg, rgb(207 73 32 / 0%) 0%,
      rgb(229 105 38 / 8%) 15%,
      rgb(227 103 37 / 10%) 36%,
      rgb(173 63 26 / 41%) 60%,
      rgb(82 49 33 / 60%) 100%);
  border-radius: 30px;
  height: 60px;
} */

.tel, .tel a {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-top: 25px;
  line-height: 2;
  text-shadow: 3px 1px 3px black;
}
.tel a {
  font-size: 34px;
  text-decoration: none;
  }
.master {
  font-size: 49px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-shadow: 6px 1px 6px black;
}
.prof {
  font-size: 26px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-shadow: 4px 1px 4px black;
}


.zayavka {
  color: #0328f3;
  font-size: 25px;
}
.btn-primary {
  background: rgb(164,161,163);
  background: radial-gradient(circle, rgba(164,161,163,1) 0%, rgba(7,43,238,0.7875525210084033) 50%);
  border-radius: 30px;
    height: 60px;
    box-shadow: 0px 10px 10px #00000069;
    border: 3px #3d435b solid;
    margin: 1px;
    font-family: monospace;
    font-size: 19px;
    font-weight: bold;
}
.box {
  padding: 6px;
  height: 70px;
  width: 70px;
  border: 2px black dashed;
  border-radius: 100px;
  margin-bottom: 1px;
  margin-top: 7px;

}
.col-3:hover .box{
  transform: rotate(360deg);
  transition: 2s;
}
.preimuschestva {
  font-weight: bold;
  font-size: 15px;
}
.tel-mobile {
  display: none;
}
.mobile span, .hamb{
 display: none;
}

.opisanie {
  background-color: #afeeee8a;
  box-shadow: 3px 3px 3px 3px;
  /* text-shadow: 3px 1px 3px #fff; */
  /* margin-left: 230px;
  margin-right: 100px; */
  width: 70%;
  font-size: 19px;
  font-weight: bold;
}
.foto {
  border: 3px #3d435b solid;
}
.ceny .row{
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  align-items: center;
}
/* общие параметры для всей таблицы */
.ceny table{
    border: 1px solid #ECEDEE; /* общая рамка вокруг таблицы */
    margin: 10px 0; /* отступ сверху и снизу от таблицы 10px, слева и справа 0 */
    width: 70%; /* ширина таблицы */
}
/* параметры для ячейек заголовков */
.ceny table th {
    background: #124D9C; /* цвет ячейки заголовка */
    border-right: 1px solid #ECEDEE; /* рамка справа от ячейки заголовка */
    color: #FFFFFF; /* цвет шрифта заголовка */
    font-size: 15px; /* размер шрифта заголовка */
    padding: 5px; /* внутренний отступ в заголовке */
    text-align: center; /* расположение текста по центру ячейки заголовка (центрирование) */
}
/* параметры для нечетных строк таблицы 1,3,5,7 и т.д. */
.ceny table tr {
    background: #c2d5df; /* цвет фона строки */
    font-weight: bold;
}
/* параметры только для первой ячейки в каждой из строк */
.ceny table td:nth-child(1) {
    text-align: left;
    background: #c2d5df;
}
/* параметры для всех ячеек таблицы */
.ceny table td {
    border-bottom: 1px solid #ECEDEE; /* рамка снизу ячейки */
    border-right: 1px solid #ECEDEE; /* рамка справа ячейки */
    font-size: 14px; /* размер шрифта */
    padding: 4px; /* внутренний отступ в ячейки от края */
    vertical-align: middle; /* горизонтальное выравнивание */
    text-align: center; /* текст по центру */
}
.fotoramka {
  /* width: 100%; */
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  align-items: center;
}
.contacty {
  width: 70%;
}
@media screen and (max-width: 768px){

	.mobile{
		width: 250px;
		height: 100vh;
		background: #333;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		right: -250px;
		padding: 1px;
		font-size: 20px;
		z-index: 2;
		color: #fff;
    margin-top: 20px;

	}

	.mobile li{
		margin-bottom: 20px;
	}
	.mobile li:last-child{
		margin-bottom: 0px;
	}
	.mobile span{
		display: block;
		position: absolute;
		top: -5px;
		right: 10px;
		font-size: 40px;
		transform: rotate(45deg);
		color: #fff;
	}
	/* .hamb{
	display: inline-block;
	font-size: 40px;
  color: #fff;
  padding-left: -5px;
} */
  .hamb {
    display: block;
    align-self: flex-start;
    margin-top: 25px;
  }
  .logo{
    display: none;
  }
  .zagolovok {
    display: none;
  }
  .main-menu {
    border-radius: 0px;
    height: 0px;
    border: 0px #3d435b solid;
  }
  .tel {
    display: none;
  }
  .tel-mobile {
    display: inline-block;

  }
  .prof span{
    display: inline-block;
    color: grey;
  }
  .row {
    margin: 13px;
  }
  .opisanie {
    margin-left: 20px;
    margin-right: 10px;
    }
  .master {
    font-size: 39px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-shadow: 4px 1px 4px black;
  }
}
@media screen and (max-width: 992px){
  .main-menu ul li a{
    display: inline-block;
    padding: 12px 21px;
  }
  .opisanie {
    margin-left: 130px;
    margin-right: 50px;
  }
  .zagolovok {
    font-size: 34px;
    margin-bottom: .5rem;
    /* font-weight: 1900; */
    line-height: 0.2;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 6px 1px 6px white;
  }
  .tel a {
    font-size: 24px;
    text-decoration: none;
    text-shadow: 3px 1px 3px black;
    }
}
@media screen and (max-width: 1200px){
  .tel a {
    font-size: 24px;
    text-decoration: none;
    text-shadow: 3px 1px 3px black;
    }
  /* .tel-mobile {
    font-size: 8px;
    display: inline-block;
    text-shadow: 3px 1px 3px black;
    } */
  .opisanie {
    margin-left: 60px;
    margin-right: 60px;
    }
}
